header {
    margin: 0px 10% 10px;
}
h1 {
    font-size: 4rem;
    line-height: 110%;
    margin:.5rem 0 0 0;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.4rem;
    line-height: 110%;
    margin: .75rem 0 0rem 0;
}
h3 {
    font-size: 1.2rem;
    font-style: normal;
    text-align: right;
}

section{
    font-size: 1.4rem;
    font-family: "Roboto", sans serif;
    font-weight: 300;
    color:white;
    font-style: italic;
    border-radius: 2px;
    position: fixed;
    top: auto;
    bottom: 10px;
    right: 50px;
}