.container {
    position: relative;
    background-image:url('/assets/images/background.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;   
    height: 500px;
}

.profile-image {
    position: absolute;
    bottom: 5%;
    max-width: 300px;
    z-index: 5;
}
#name {
    position: absolute;
    bottom: 5%;
    right: 20%;
    z-index: 5;
    color: white;
}