.card-content {
    position: relative;
    background-image:url('../pexels-photo-255379.jpeg');
    
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;   
    height: 500px;
}
.bg-girl {
    background-image:url('../bg-image.jpg');
    
}
#profileimage {
    position: absolute;
    bottom: 5%;
    max-width: 300px;
    z-index: 5;
}
#name {
    size: 30px;
    position: absolute;
    bottom: 5%;
    right: 20%;
    z-index: 5;
    color: rgb(0, 0, 0);
}

/* html {
    background: unset;
} */